/* CSS de reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

 /* Estilos adicionales */
 body {
  position: relative;
  width: 1440px;
  height: 1024px;

/* Light blue/light-blue-100 */

background: #F3F5FC;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
}

.input-text {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-bar__label {
  margin-right: 10px;
}

.input-bar__icon {
  margin-right: 5px;
  color: #888888;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-encriptar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;

  width: 328px;
  height: 67px;

  background: #0A3871;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.btn-desencriptar {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;

  width: 328px;
  height: 67px;

  background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  color: #0A3871;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

#resultado {
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;

  /* White */

  background: #FFFFFF;
  /* shadow */

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
